#footer {
  background-color: #25201d;
  padding: 3rem 7rem;
  h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.03em;

    color: #ffffff;
  }
  h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
  }
  p {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.02em;

    color: #ffffff;
  }
  .mobile {
    position: relative;
    bottom: 6rem;
  }
  .flex-img {
    display: flex;
    justify-content: center;
  }
  .center-flex {
    display: flex;
    justify-content: center;
  }
  .subscribe {
    background: aliceblue;
    padding: 12px 15px;
    border-radius: 7px;
  }
  .sub-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1px 7px 0 15px;
    display: inline-flex;
    align-items: baseline;
    width: 68%;
    justify-content: space-between;
    border-radius: 6px;
    @media (max-width: 576px) {
        width: 100%;
    }

  }
  .bottom{
      padding: 0 5rem;
  }
  .p-width{
      width: 68%;
  }
  .community{
      flex-direction: column;
      justify-content: flex-start;
  }
}
